/*Estilos para el header*/

.contenedor .header {
    display: flex;
    
    align-content: center;
    padding: 10px 20px 10px 20px;
    background: aqua;
    height: 50px;
    
}

.navbar {
    width: 100%;
}

.navbar-nav .nav-item .nav-link {
    color: rgba(255, 255, 255, 1);
}

.collapse {
    justify-content: end;
}

i {
    color: rgba(255, 255, 255, 1);
}
/*#idNav {
    visibility: visible;
}*/



/*.contenedor .header .nav {
    display: flex;
}

.contenedor .header .nav ul {
    display: flex;
}

.contenedor .header .nav ul li {
    list-style: none;
    margin: 0 10px 0 10px;
}

.contenedor .header .nav ul li a {
    text-decoration: none;
    color: #000;
}

.formulario {
    padding-top: 15px;
    margin-left: 20px;
}

.formulario .inputBuscar {
    border-radius: 4px;
    
}
*/
.btn-primary {
    background: #f709c4;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 3px 6px 3px 6px;
}
/*
.header .btnMenu {
    color: #fff;
    visibility: hidden;
}*/

@media screen and (max-width: 768px) {

    .collapse {
        display: flex;
        flex-direction: column;
        justify-content: end;
    }
    .contenedor .header {
        height: auto;
    }

    .header .btnMenu {
        color: black;
        visibility: visible;
    }

    .header .btnMenu:active {
        border: 1px solid #000;
    }
    .nav, ul {
        flex-direction: column;
        
        
    }

    #idNav {
        visibility: hidden;
    }

    

    
    .contenedor .header .btnMenu {
        display: block;
        border: none;
        background: none;
        width: 35px;
        height: 35px;
        
    }

    .contenedor .header .menu i{
        font-size: 20px;
    }

 
    
}
/*--------------------------------------------------------------
--------------------------------------------------------------*/

/*Estilos para el footer*/

.footer {
    background: #060415;;
    min-height: 200px;
}

.footer .links_pie {
    display: flex;
    justify-content: center;
    padding: 10px;
    border-bottom: 1px solid #999999;

}

.footer .links_pie a {
    
    margin: 0 10px 0 10px;
    color: #999999;
    text-decoration: none;

}

.texto {
    
    text-align: center;
}

.texto p {
    color: #fff;
}

.texto .titulo {
    font-size: 1.7em;
}
.footer .redes {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.footer .redes span i {
    color: #fff;
    margin: 10px;
    font-size: 25px;
    margin: 15px;
}

.footer .contacto {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #999999;
    padding: 10px 15% 0 15%;
    margin-top: 30px;
}

.footer .contacto span {
    color: #fff;


}
.footer .contacto span i {
    color: #999999;
    margin-right: 3px;
}

.footer .contacto .ubicacion i {
    color: red;
}

.footer .contacto .correo {
    font-size: 1.2em;
    color: aqua;
}

.footer .contacto .spcontac {
    font-size: 1.2em;
}

.copy {
    display: flex;
    align-items: center;
    justify-content: center;
    
    padding: 0 10px 0 10px;
}

.copy p {
    color: #999999;
}

@media screen and (max-width: 768px) {
    .footer .contacto {
        flex-direction: column;
        text-align: center;
    }

    .navbar-nav .nav-item .nav-link {
        color: rgba(255, 255, 255, 1);
    }
    
}

@media screen and (max-width: 468px) {
    .footer .links_pie {
        flex-direction: column;
        text-align: center;
    }
    .navbar-nav .nav-item .nav-link {
        color: rgba(255, 255, 255, 1);
    }

    .navbar-toggler-icon {
        color: rgba(255, 255, 255, 1);
    }
}